<app-navbar></app-navbar>

<div class="layout">
  <div class="sidenav">
    <div class="header">
      <div class="icon"></div>
      <span class="role">Secretaria</span>
    </div>

  <nav>
  <a routerLink="/secretaria/dashboard" routerLinkActive="active">
  <i class="fas fa-home"></i> Dashboard</a>
  <a [routerLink]="['/secretaria', 'avaliadores']" routerLinkActive="active">
  <i class="fas fa-user-tie"></i> Avaliadores Externos</a>
  <a [routerLink]="['/secretaria', 'notificacoes']" (click)="marcarNotificacoesComoLidas()"><i class="fas fa-bell"></i> Notificações
  <span *ngIf="exibirBadgeNotificacao" class="ponto-notificacao"></span></a>
  <a [routerLink]="['/secretaria', 'projetos']" routerLinkActive="active"><i class="fas fa-folder-plus"></i> Gerenciar Projetos</a>
  <a routerLink="/alunos"><i class="fas fa-user-graduate"></i> Alunos</a>
  <a routerLink="/secretaria/email" routerLinkActive="active"><i class="fas fa-envelope"></i> Envio de Certificados</a>
  <a [routerLink]="['/secretaria', 'relatorios']" routerLinkActive="active"><i class="fas fa-chart-bar"></i> Relatórios</a>
</nav>
  </div>

  <div class="conteudo">
    <router-outlet></router-outlet>
  </div>
</div>


<app-footer></app-footer>
