<footer class="footer">
  <div class="footer-container">
    <div class="footer-column logo">
        <img src="/public/assets/Logo.png" alt="Logo USCS" class="logo-uscs" />
      <p>Universidade Municipal de São Caetano do Sul</p>
    </div>
    <div class="footer-column">
      <h4>ENSINO</h4>
      <ul>
        <li><a href="#">Cursos Livres</a></li>
        <li><a href="#">Cursos Técnicos</a></li>
        <li><a href="#">Graduação</a></li>
        <li><a href="#">Pós-Graduação</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>PESQUISA</h4>
      <ul>
        <li><a href="#">Centro de Pesquisa (CPC)</a></li>
        <li><a href="#">Grupos de Pesquisa</a></li>
        <li><a href="#">Iniciação Científica</a></li>
        <li><a href="#">Publicações</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4>EXTENSÃO</h4>
      <ul>
        <li><a href="#">Apoio à Comunidade</a></li>
        <li><a href="#">Atendimento ao Público</a></li>
        <li><a href="#">Cursos de Extensão</a></li>
        <li><a href="#">Projetos Comunitários</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-bottom">
    <div class="social-icons">
      <i class="fab fa-facebook-f"></i>
      <i class="fab fa-instagram"></i>
      <i class="fab fa-twitter"></i>
      <i class="fab fa-youtube"></i>
    </div>
    <p>&copy; 2025 USCS. Todos os direitos reservados.</p>
  </div>
</footer>
