<nav class="navbar">
  <div class="navbar-logo">
    <img src="/public/assets/Logo.png" alt="Logo USCS" />
  </div>

  <ul class="navbar-links">
    <li><a routerLink="/">Início</a></li>
    <li><a href="#">Projetos</a></li>
    <li><a href="#">Como Funciona</a></li>
    <li><a href="#">Ajuda</a></li>
    <li><a href="#">Contato</a></li>
  </ul>

  <div class="navbar-buttons">
    <button class="login-btn">Login</button>
    <button class="register-btn" [routerLink]="['/cadastro']" [queryParams]="{ perfil: 'secretaria' }">Registrar-se</button>
  </div>
</nav>
