<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-logo">
      <img src="assets/Logo.png" alt="Logo USCS" />
    </div>

    <ul class="navbar-links">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Início</a
        >
      </li>
      <li><a href="#projetos">Projetos</a></li>
      <li><a href="#como-funciona">Como Funciona</a></li>
      <li><a href="#ajuda">Ajuda</a></li>
      <li><a href="#contato">Contato</a></li>
    </ul>

    <div class="navbar-actions">
      <button class="btn btn-outline" [routerLink]="['/login']">Entrar</button>
      <button class="btn btn-primary" [routerLink]="['/cadastro']">
        Registrar-se
      </button>
    </div>
  </div>
</nav>
