<div class="layout">
  <!-- Sidebar -->
  <div class="sidenav">
    <div class="header">
      <div class="icon">USCS</div>
      <span class="role">Secretaria</span>
    </div>

    <nav>
      <a routerLink="/secretaria/dashboard" routerLinkActive="active">
        <i class="fas fa-home"></i> Dashboard
      </a>
      <a routerLink="/secretaria/projetos" routerLinkActive="active">
        <i class="fas fa-folder-plus"></i> Projetos
      </a>
      <a routerLink="/secretaria/avaliadores" routerLinkActive="active">
        <i class="fas fa-users"></i> Avaliadores
      </a>
      <a routerLink="/secretaria/relatorios" routerLinkActive="active">
        <i class="fas fa-chart-line"></i> Relatórios
      </a>
      <a routerLink="/secretaria/notificacoes" routerLinkActive="active" (click)="marcarNotificacoesComoLidas()">
        <i class="fas fa-bell"></i> Notificações
        <span *ngIf="exibirBadgeNotificacao" class="badge"></span>
      </a>
      <a routerLink="/login">
        <i class="fas fa-sign-out-alt"></i> Sair
      </a>
    </nav>
  </div>

  <!-- Conteúdo principal -->
  <div class="conteudo">
    <router-outlet></router-outlet>
  </div>
</div>
