<div class="container">
  <h2><fa-icon [icon]="'user-tie'"></fa-icon> Cadastro de Avaliador Externo</h2>

  <form (ngSubmit)="salvarAvaliador()" #form="ngForm">

    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" id="nome" name="nome" class="form-control" [(ngModel)]="avaliador.nome" required>
    </div>

    <div class="form-group">
      <label for="especialidade">Especialidade</label>
      <input type="text" id="especialidade" name="especialidade" class="form-control" [(ngModel)]="avaliador.especialidade" required>
    </div>

    <div class="form-group">
      <label for="subespecialidade">Subespecialidade</label>
      <input type="text" id="subespecialidade" name="subespecialidade" class="form-control" [(ngModel)]="avaliador.subespecialidade">
    </div>

    <div class="form-group">
      <label for="lattes_link">Link do Currículo Lattes</label>
      <input type="url" id="lattes_link" name="lattes_link" class="form-control" [(ngModel)]="avaliador.lattes_link">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="form.invalid">
      <fa-icon [icon]="'save'"></fa-icon> Salvar
    </button>
  </form>
</div>
