<div class="layout">
  <div
    class="sidenav"
    [class.role-secretaria]="isSecretaria"
    [class.role-orientador]="isOrientador"
  >
    <div class="header">
      <div class="icon">USCS</div>
      <span class="role">{{ papelLegivel() }}</span>
    </div>

    <nav>
      <!-- SECRETARIA -->
      <ng-container *ngIf="isSecretaria">
        <a routerLink="/secretaria/dashboard" routerLinkActive="active">
          <i class="fas fa-home"></i> Dashboard
        </a>
        <a routerLink="/secretaria/projetos" routerLinkActive="active">
          <i class="fas fa-folder-plus"></i> Projetos
        </a>
        <a routerLink="/secretaria/avaliadores" routerLinkActive="active">
          <i class="fas fa-users"></i> Avaliadores
        </a>
        <a routerLink="/secretaria/relatorios" routerLinkActive="active">
          <i class="fas fa-chart-line"></i> Relatórios
        </a>
        <a
          routerLink="/secretaria/notificacoes"
          routerLinkActive="active"
          (click)="marcarNotificacoesComoLidas()"
        >
          <i class="fas fa-bell"></i> Notificações
          <span *ngIf="exibirBadgeNotificacao" class="badge"></span>
        </a>
        <a routerLink="/secretaria/configuracoes" routerLinkActive="active">
          <i class="fas fa-cogs"></i> Configurações
        </a>
        <a routerLink="/secretaria/cadastros" routerLinkActive="active">
          <i class="fas fa-user-check"></i> Cadastros
        </a>
      </ng-container>

      <!-- ORIENTADOR -->
      <ng-container *ngIf="isOrientador">
        <a routerLink="/orientador/projetos" routerLinkActive="active">
          <i class="fas fa-folder-open"></i> Meus Projetos
        </a>

        <a
          routerLink="/orientador/relatorios"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: false }"
        >
          <i class="fas fa-file-alt"></i> Relatórios
        </a>
      </ng-container>

      <!-- ALUNO -->
      <ng-container *ngIf="isAluno">
        <a routerLink="/aluno/projetos" routerLinkActive="active">
          <i class="fas fa-folder-open"></i> Projetos
        </a>
      </ng-container>

      <!-- Comum -->
      <a href="#" (click)="confirmarSaida($event)">
        <i class="fas fa-sign-out-alt"></i> Sair
      </a>
    </nav>
  </div>

  <div class="conteudo">
    <router-outlet></router-outlet>
  </div>
</div>
